* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

/* REMEMBER THE LOGIN AND THE REGISTER THEY SHARE THE SAME STYLE */
h1 {
  color: #f28a0a;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  border: 1px solid whitesmoke;
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 21px;
  margin-top: 90px;
  background: #faf8f6;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
}

.input {
  height: 7vh;
  margin: 4px;
  border: 1px solid whitesmoke;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
}
::placeholder {
  color: rgb(89, 84, 78);
}

select {
  color: rgb(89, 84, 78);
}

.register_button {
  width: 50%;
  height: 5vh;
  margin: 4px;
  margin-left: auto;
  margin-right: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #f28a0a;
  border: 1px solid #f28a0a;
}
.register_button:hover {
  color: white;
  background-color: #f28a0a;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}
.login_button:hover {
  color: white;
  background-color: #f28a0a;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

.login_button {
  width: 50%;
  height: 5vh;
  margin: 4px;
  margin-left: auto;
  margin-right: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #f28a0a;
  border: 1px solid #f28a0a;
}
a {
  color: #f28a0a;
}


/* mobile responsive */


